.rice-page {
      margin-top: 90px;
      /* height: 100vh; */
      display: flex;
      flex-wrap: wrap;
      padding: 20px 500px;
      border: 1px solid blue;
      background-color: rgb(248, 247, 247);
}